# Malta Covid Data Analysys

## Import Libraries

In [42]:
import pandas as pd
import seaborn as sns
import calendar

## Aggregate Cases Dataset

### Load Dataset

In [43]:
cases_df = pd.read_csv('../data/raw/COVID-19 Malta - Aggregate Data Set.csv')

### Group By Month

In [44]:
cases_df['Date'] = pd.to_datetime(cases_df['Date'], format='%d/%m/%Y')
cases_df = cases_df.groupby(cases_df.Date.dt.to_period('M')).agg({
    'New Cases': 'sum',
    'Total Cases': 'last',
    'Recovered': 'last',
    'Deaths': 'last',
    'Active Cases': 'last'
})
cases_df.insert(0, 'Year', cases_df.index.year)
cases_df.insert(1, 'Month', cases_df.index.month)
cases_df = cases_df.reset_index(drop=True)
cases_df['Month'] = cases_df['Month'].apply(lambda x: calendar.month_abbr[x])
cases_df

    Year Month  New Cases  Total Cases  Recovered  Deaths  Active Cases
0   2020   Mar        169          169          2       0           167
1   2020   Apr        296          465        351       4           110
2   2020   May        153          618        534       9            75
3   2020   Jun         52          670        640       9            21
4   2020   Jul        154          824        665       9           150
5   2020   Aug       1164         1883       1400      12           471
6   2020   Sep       1175         3058       2562      34           462
7   2020   Oct       2984         6042       4155      62          1825
8   2020   Nov       3831         9873       7665     137          2071
9   2020   Dec       2901        12774      11121     219          1434
10  2021   Jan       5129        17903      14960     267          2676
11  2021   Feb       4579        22482      19447     315          2720
12  2021   Mar       6551        29033      27805     392           836
13  2021   Apr       1259        30292      29548     413           331
14  2021   May        243        30535      30050     419            66
15  2021   Jun         88        30623      30158     420            45
16  2021   Jul       3672        34295      31629     423          1847
17  2021   Aug       1876        36171      34678     441           656
18  2021   Sep        978        37149      35968     457           328
19  2021   Oct        506        37655      36583     461           215
20  2021   Nov       1782        39437      37385     468          1188
21  2021   Dec      13033        52470      40156     477         11441
22  2022   Jan      15244        67714      63796     550          2972
23  2022   Feb       3558        71272      69579     605           692
24  2022   Mar       8267        79539      72865     638          5640
25  2022   Apr      12202        91741      87119     698          3528
26  2022   May       3001        94742      92215     721          1410
27  2022   Jun       8390       103132      95764     741          6231
28  2022   Jul       9696       112828     109863     794          1775
29  2022   Aug       1222       114050     112726     801           127
30  2022   Sep        642       114692     113215     806           275
31  2022   Oct        657       115349     113809     808           336
32  2022   Nov        490       115839     114444     809           190
33  2022   Dec        545       116384     114889     815           284
34  2023   Jan        379       116763     115118     822           427